/* Login.css */

.login {

  width: 380px;

  margin: 120px auto;

  padding: 40px;

  background: rgba(15, 23, 42, 0.95);

  border-radius: 12px;

  border: 1px solid #1e293b;

  box-shadow: 0 0 25px rgba(0, 0, 0, 0.6);

  text-align: center;

}

.login h2 {

  margin-bottom: 25px;

  font-weight: 600;

  color: #38bdf8;

}

.login input {

  width: 100%;

  padding: 12px;

  margin-bottom: 15px;

  border-radius: 6px;

  border: 1px solid #334155;

  background: #020617;

  color: white;

  font-size: 15px;

}

.login input:focus {

  outline: none;

  border-color: #38bdf8;

}

.login button {

  width: 100%;

  padding: 12px;

  background: linear-gradient(90deg, #0ea5e9, #38bdf8);

  border: none;

  border-radius: 6px;

  color: black;

  font-weight: bold;

  cursor: pointer;

  transition: 0.3s;

}

.login button:hover {

  transform: scale(1.05);

}