nav {

background: rgba(2, 6, 23, 0.9);

padding: 18px;

display: flex;

gap: 25px;

border-bottom: 1px solid #38bdf8;

}

nav a {

color: #cbd5e1;

font-size: 16px;

text-decoration: none;

}

nav a:hover {

color: #38bdf8;

text-shadow: 0 0 8px #38bdf8;

}