/* Admin.css */

.admin {

  width: 500px;

  margin: 100px auto;

  padding: 30px;

  background: rgba(15, 23, 42, 0.95);

  border-radius: 10px;

  border: 1px solid #ef4444;

  box-shadow: 0 0 20px rgba(239, 68, 68, 0.4);

}

.admin h2 {

  color: #ef4444;

  margin-bottom: 20px;

}

.admin p {

  margin: 10px 0;

  font-size: 16px;

}